<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title th:text="'Area Riservata - ' + ${admin.username}"></title>
		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
	</head>
	<body>
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
			<div class="container">
				<a class="navbar-brand" href="#">Il Nostro Sito</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarNav">
					<ul class="navbar-nav">
						<li class="nav-item active">
							<a class="nav-link" th:href="@{/homepage}" th:text="'Home'"></a>
						</li>
						<li class="nav-item">
							<a class="nav-link" th:href="@{/prodotti}" th:text="'Prodotti'"></a>
						</li>
						<li class="nav-item">
							<a class="nav-link" th:href="@{/contatti}" th:text="'Contatti'"></a>
						</li>
					</ul>
				</div>
			</div>
		</nav>
		<div class="container mt-5">
				<h1 th:text="'Benvenuto in area riservata, ' + ${admin.username}"></h1>
				<a th:href="@{logout}" class="btn btn-secondary">Logout</a>
		</div>
		<!-- Bootstrap JS -->
		<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
	</body>
</html>